.footer {
  background: #245852;
  padding: 104px 0px 144px;

  &__container { 
  }

  &__logo {
    margin-bottom: 75px;
  }

  &__nav {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__nav li:not(:last-child) {
    margin-bottom: 60px;
  }

  &__nav a {
    transition: opacity 0.2s ease;
  }

  &__nav a:hover {
    opacity: 0.7;
  }
}


@media (max-width: 1299px) {
  .footer {
    padding: 80px 0px 100px;

    &__logo {
      margin-bottom: 50px;
    }

    &__nav {
      font-size: 22px;
    }

    &__nav li:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 0px 50px;

    &__logo {
      margin-bottom: 30px;
    }

    &__nav {
      font-size: 18px;
    }

    &__nav li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}