.home {
	min-height: 895px;	
	padding: 175px 0px;
	position: relative;
	margin-bottom: 169px;
	
		&__wrapper {
			max-width: 440px;
		}

		&__title {
			font-size: 65px;
			line-height: 74px;
			margin-bottom: 30px;
		}

		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 29px;
			color: #484848;
			max-width: 400px;
			margin-bottom: 53px;
		}

		&__button {	
		}

		&__link {
		}

		&__bg-img {
      position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: #fff;

			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			} 
		}
}

@media (max-width: 1399px) {
	.home {
		margin-bottom: 80px;
	}
}

@media (max-width: 991px) {
	.home {
		padding: 40px 0px;
		min-height: unset;
		margin-bottom: 40px;

		&__bg-img {
			opacity: 0.5;
		}

		&__title {
			font-size: 45px;
			line-height: 1.2;
		}

		&__text {
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

