.story {
  background: #245852;
  color: #fff;
  padding: 229px 0 176px;

  &__wrapper {
    max-width: 1507px;
    margin: 0 auto;

  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px
  }

  &__content {
    margin-right: 30px;
  }

  &__heading {
    max-width: 580px;
    margin-bottom: 33px;

    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;

    margin-bottom: 57px;
  }


  &__link {
  }

  &__video {
    width: 895px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
  }

  &__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
  }

  &__video-object {
  }
}

@media (max-width: 1506px) {
  .story {
    width: 100%;
  }

}

@media (max-width: 1199px) {
  .story {
    padding: 90px 0 90px;

    &__row {
      flex-direction: column-reverse;
    }

    &__video {
      margin-bottom: 40px;
    }

    &__heading {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 130%;
    }

    &__text {
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 991px) {
  .story {
    padding: 60px 0 60px;

    &__heading {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 120%;
    }
    &__text {
      font-size: 18px;
      line-height: 130%;
      margin-bottom: 30px;
    }
  }

}