/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1261px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
    
    &::after {
        content: "";
        display: block;
        width: 253px;
        height: 3px;
        background-color: #006DFE;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}

/*Header style start*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: .2s linear;
    padding-bottom: 20px;

    &__active {
        background: #0E1D28;
        z-index: 100;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;
    }

    &__logo {
    }

    &__logo-link {
    }

    &__logo-pic {
    }

    &__nav {
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 82px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active { 
            opacity: 0.75;
        }
    }

    &__burger {
        display: none;
        width: 40px;
        height: 28px;
        position: relative;
    }
}

.burger {

    &__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;

        &_first {
            top: 0;
        }
        &_second {
            top: 50%;
            transform: translateY(-50%);
        }
        &_third {
            bottom: 0;
        }
    }
}

.header {

    &__burger {
    }
}
/*Header style end*/

/*Intro style start*/
.main {
}

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 263px;
    padding-bottom: 223px;

    &__title {
        max-width: 619px;
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 22px;
    }
    &__subtitle {
        max-width: 530px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 59px;
    }
}
/*Intro style end*/

/*Form style start*/
.search-form {

    &__wrap {
        margin-bottom: 149px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
    }

    &__field {
        width: 297px;
        background: transparent url(../img/svg/circle-ico.svg) no-repeat left 8px;
        background-size: 20px;
        border: 0;
        border-bottom: 2px solid #BFC0C5;
        margin-right: 60px;
        padding-left: 43px;
        padding-bottom: 22px;

        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        
        &::placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            opacity: 1;
        }   
    }

    &__submit {
        text-transform: uppercase;
        background-color: #1B7DFF;
        border: 0;
        padding: 15px 39px;

        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

        &:hover,
        &:focus,
        &:active { 
            background-color: #0e66da;       
        }
    }
}
/*Form style end*/

/*Benefits style start*/
.benefits {
    margin-bottom: 131px;

    &__wrap {
        max-width: 1262px;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
        position: relative;
    }

    &__title {
        width: 100%;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;

        padding: 93px 100px 88px 100px;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateY(-100%);
        background-color: #fff;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 55px;
        padding: 0px 100px;
    }

    &__card {
        grid-column: span 1;
        margin-bottom: 111px; 
    }

    &__card-pic {
        margin-bottom: 37px;
        max-width: 66px;
        max-height: 66px;
    }

    &__card-thumb {
        display: block;
    }

    &__card-title {
        margin-bottom: 26px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    &__card-desc {
        margin-bottom: 39px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &__card-more {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #006DFE;
        text-decoration: none;

        &:hover::after,
        &:focus::after {
            content: url("../img/svg/arrow-right-ico.svg");
            position: relative;
            left: 32px;
            transition: .2s all;
        }

        &::after {
            content: url("../img/svg/arrow-right-ico.svg");
            position: relative;
            left: 26px;
        }
    }
}
/*Benefits style end*/

/*Places style start*/
.places {
    margin-bottom: 131px;

	&__caption {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
	}

    &__title {
        margin-right: 15px;
    }

    &__view-all {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #006DFE;
        padding-right: 59px;
        background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;

        &:hover,
        &:focus{
            opacity: 0.65;
            transition: .5s all;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    &__card {
        position: relative;
        overflow: hidden;

        &::after {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(21, 24, 36, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &:hover .places__card-pic {
            transform: scale(1.05);
        }
    }

    &__card-size-lg {
        grid-column: span 3;
    }

    &__card-size-small {
        grid-column: span 2;
    }

    &__card-pic {
        width: 100%;
        object-fit: cover;
        transition: .15s all;
    }
    
    &__card-pic-size-lg {
        height: 354px;
    }

    &__card-pic-size-small {
        height: 283px;
    }

    &__card-title {
        position: absolute;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;    
        color: #FFFFFF;
        bottom: 27px;
        left: 29px;
        z-index: 3;
    }

    &__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
	}
}
/*Places style end*/

/*Tours style start*/
.wrapper-full {
}
.tours {
    margin-bottom: 139px;
    
		&__tour {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap : 108px;
            align-items: center;
		}
}
.tour {
    margin-bottom: 77px;

	&__pic {
	}
	&__thumb {
	}
	&__info {
        padding-left: 44px;
	}
	&__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 85px;
        max-width: 357px;
	}

	&__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        max-width: 519px;
        margin-bottom: 58px;
    }

	&__more {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;     
        text-align: right;
        color: #006DFE;
        padding-right: 59px;
        background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
        
        &:hover,
        &:focus{
            opacity: 0.65;
            transition: .5s all;
        }       
	}
}
/*Tours style end*/

/*Top style start*/
.top {
    margin-bottom: 86px;

    &__title {
        margin-bottom: 54px;
    }

    &_card-thumb {
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 57px;
        row-gap: 57px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        grid-column: span 2;
    }

    &__card-pic {
        position: relative;
        margin-bottom: 45px;
    }

    &__card-stats {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(21, 24, 36, 0.6);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        padding: 16px 25px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__card-title {
        font-size: 18px;
        margin: 0 auto 0 0;

    }

    &__card-like {
        padding-right: 20px;
        background: url(../img/svg/heart-ico.svg) no-repeat right 5px;
        margin-right: 14px;
    }

    &__card-like-value {
    }

    &__card-comments {
        padding-right: 23px;
        background: url(../img/svg/comment-ico.svg) no-repeat right 6px;
    }

    &__card-comments-value {
    }

	&_card-more {
        width: 118px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 12px 19px;
        background-color: #006DFE;
        text-decoration: none;
        margin: auto 0 0 0;

        &:hover,
        &:focus,
        &:active { 
            background-color: #0e66da;       
        }
        
	}
	&__card-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 391px;
        margin-bottom: 31px;
	}
}
/*Top style end*/

/*Videos style start*/
.videos {
    width: 100%;

    &__wrapper {
        max-width: 1140px;
        margin: 0 auto;
        position: relative;
    }

    &__item {
        padding-top: 56.25%;
    }

    &__video-element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*Videos style end*/

/*Footer style start*/
.footer {
    background: #0E1D28;
    padding: 119px 0px;

    &__item {
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        width: 50%;
    }

    &__logo-pic {
    }

    &__nav {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__menu {
    }

    &__menu-item {

    }

    &__menu-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;       
        color: #FFFFFF;
    }

    &__menu-link {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;    
        color: #FFFFFF;

        &:hover,
        &:focus,
        &:active {
            opacity: 65%;
        }

    }
}
/*Footer style end*/

/*Media start*/
@media screen and (max-width: 908px) {
    .search-form {

        &__field {
            margin-bottom: 25px;
        }
    }

    .places {
        
        &__card-size-lg,
        &__card-size-small {
            grid-column: span 6;
        }
    }

    .tours {
        &__tour {
            column-gap: 30px;
            margin-bottom: 30px;
        }
    }

    .tour {
        &__info {
            padding-left: 0;
        }

        &__title {
            margin-bottom: 15px;
        }

        &__desc {
            margin-bottom: 15px;
        }
    }

    .top {
        &__cards {
            column-gap: 25px;
            row-gap: 55px;
        }

        &__card {
            grid-column: span 3;
        }

        &__card-pic {
            margin-bottom: 25px;
        }

        &__card-desc {
            margin-bottom: 20px;
        }
    }

    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 1262px) {
    .benefits {
        margin-bottom: 75px;

        &__card {
            margin-bottom: 60px;
        }

        &__cards {
            padding: 0 15px;
            column-gap: 35px
        }

        &__title {
            padding: 55px 15px;
        }

        &__wrap {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 25px;

            &::after {
                width: 78px;
            }
    }

    .header {

        &__wrapper {
            padding-top: 28px;
        }
        &__nav {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #000000;
            z-index: 10;
            padding: 75px;
            transform: translateX(100%);
            transition: .3s linear;
        }

        &__nav-active {
            transform: translateX(0);
        }

        &__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0px;                
            }
        }

        &__link {
            font-size: 42px;
            line-height: 48px;
        }

        &__nav-close {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 11;
        }
    
        &__nav-close-line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
                
            &:first-child {
                transform: translateY(-50%) rotate(45deg);
            }

            &:last-child {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    

		&__burger {
            display: block;
		}   
    }   

    .intro {
        padding-top: 125px;
        padding-bottom: 75px;
        
        &__title {
            font-size: 32px;
            line-height: 48px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }

    .search-form {
        
        &__field {
            width: 100%;
            margin-right: 0;
            padding-bottom: 12px;
            background: transparent url(../img/svg/circle-ico.svg) no-repeat left 2px;
 
            &::placeholder {
                font-size: 16px;
            }
        }

        &__submit {
            width: 100%;
        }
    }

    .benefits {
        margin-bottom: 36px;

        &__card {
            grid-column: span 3;
            margin-bottom: 40px;
        }

        &__card-pic {
            margin-bottom: 20px;
        }

        &__card-title {
            margin-bottom: 12px;
        }

        &__card-desc {
            margin-bottom: 20px;
        }
    }

    .places {
        margin-bottom: 76px;

        &__view-all {
            margin-bottom: 25px;
        }

        &__caption {
          margin-bottom: 0;  
        }

        &__card-pic-size-lg,
        &__card-pic-size-small {
            height: 230px;
        }
    }

    .tours {
        margin-bottom: 76px;
    }
    .tour {

        &__pic,
        &__info {
            grid-column: span 2;
        }

        &__pic {
            margin-bottom: 12px;

            &_mob-first {
                grid-row-start: -1;
            }
        }
    }

    .top {
        margin-bottom: 76px;

        &__card {
            grid-column: span 6;
        }

        &__card-desc {
            margin-bottom: 15px;
        }

        &__card-stats {
            max-width: 386px;
        }
    }

    .footer {

        &__logo {
            width: 100%;
            margin-bottom: 24px;
        }

        &__nav {
            width: 100%;
        }

        &__menu {
            width: 50%;
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {

        &__nav {
            padding: 75px 30px;
        }
    }
}
/*Media end*/
