body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: yellow;
    color:black;
    font-size: 40px;
}

.wrapper {
    min-height: 100%;
}
.content {
    max-width: 1180px;
    margin: 0 auto;
}
.search {
    background-color: #fff;

		&__input {
            margin: 10px;
		}

		&__button {
            margin: 10px;
		}
}
.container {
    text-align: right;
    margin-top: 20px;
    display: flex;
}
