
//Файл обнуляющих стилей
@import "nullstyle.scss";

//Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'Myriad Pro Light Italic';
    src: url('MyriadPro-LightIt.eot');
    src: url('MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-LightIt.woff') format('woff'),
    url('MyriadPro-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


//Шрифт по умолчанию
$fontfamily:"Lato";

//Переменные по умолчанию
$mw:1100px;

body{
    font-family: $fontfamily;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    //min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    //min-width: 300px;
}

.main-header {
    //фоновое изображение
    background-image: url(../../img/BG-Header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff; 
    color: #fff;

    padding: 80px 0px 0px 0px;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    justify-content: center;
    //align-items: center;
    text-align: center;
    height: 100vh;

    //text-align: center;
    //justify-content: center;
    //align-items: center;

        &__content{
            position: relative;
            flex: 1 1 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px 0px 40px 0px;
            //max-width: $mw;
            //margin: 0px auto;
        }

        &__logo {
            //text-align: center;
            //padding-bottom: 150px;
        }

		&__title {
            //max-width: 750px;
            //margin: 0px auto;
        }

        &__main-title {
            font-size: 34px;
            font-weight: 900;
            letter-spacing: 4px;
            text-transform: uppercase;
            line-height: 1.176;
            padding: 0px 0px 15px 0px;
        }
        
        &__subtitle {
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 4px;
            margin: 0px 0px 50px 0px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100px;
                bottom: 0px;
                height: 2px;
                left: 50%;
                background: #fff;
                margin: 0px 0px -45px -50px;
            }
        }

        &__footer{
            padding: 10px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            height: 25%;
            justify-content: space-between;


        }

		&__btm {
            position: relative;   
            max-width: 180px;
            margin: 10px auto;
            border: 1px solid #fff;
            color: #fff;
            padding: 10px 30px;
            
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
		}

		&__arrow {
            position: relative;
            animation: arrow 2s infinite ease;
		}
}

.content {
    background-color: #fff;
    position: relative;
    z-index: 50;
    
}
.menu {
        padding: 22px 0px;
        border-bottom: 1px solid #f2f2f2;
        &_md{
            margin: 0px 0px 130px 0px;
        }
		&__items {       
		}

		&__list {
            display: flex;
            justify-content: center;
            align-items: center;
		}

		&__link {
            margin: 0px 25px;
            font-size: 15px;
            color: #3c3c3c;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            &:hover{
                color: rgb(173, 160, 116);
            }

			&_act {
                color: rgb(173, 160, 116);
			}
		}
}
.container {
}

.about {
    text-align: center;
    padding: 0px 0px 0px 0px;
    max-width: 820px;
    margin: 0 auto;


    &_column {
    }

    &__header-block {
    }

    &__header-title {
    }

    &__header-text {
        font-size: 14px;
        color: rgb(134, 133, 133);
        line-height: 1.857;
        font-weight: 300px;
        max-width: 700px;
        margin: 0 auto;

    }

    &__body {
        padding: 70px 0px 0px 0px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ;
        
    }

    &__item {
        
    }

    &__img {
        border: 10px solid #f0f0f0;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 0 auto;

    }

    &__body-title {
        font-size: 22px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
    }

    &__body-text {
        font-size: 14px;
        color: rgb(134, 133, 133);
        line-height: 1.857;
          
    }
}

.header-block {
    text-align: center;
}

.title {
    font-size: 34px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 8.95px;
    position: relative;
    margin: 0px 0px 70px 0px;
    &::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        bottom: 0px;
        left: 50%;
        background-color: #000;
        margin: 0px 0px -30px -40px;


    }
}


@keyframes arrow {
    0% {top: 0px;}
    50% {top: 15px;}
    100% {top: 0px;}
}

