*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*,:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    background-color: #e8e8e8;
}

.content{
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;
}

.content-top{
    text-align: center;
    color: #273d46;
    margin-bottom: 65px;
}
.header{
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    opacity: 60%;
    margin-bottom: 15px;
}
.title{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 36px;
    line-height: 50px;
    max-width: 725px;
    margin: 0px auto;
    
}

.content-image{
    background: #fff;
    box-shadow: 0px 15px 65px rgba(15, 16, 16, 0.15);
    padding: 10px;
    margin-bottom: 85px;
}
.content-image img{
    max-width: 100%;
}

.text{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 24px;
    text-align: left;
    color: #273d46;
    line-height: 40px;
    max-width: 745px;
    margin: 0px auto;
    margin-bottom: 48px;
}

.text p{
    margin-top: 40px;
}

.list{
    margin-bottom: 75px;
}
.list li{
    font-size: 20px;
    text-align: left;
    margin: 0px 0px 15px 45px;
    padding: 0 0 0 35px;
    background: url(../img/icons/check\ icon.png) left no-repeat;
}
.list li:nth-child(1){
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    color: #273d46;
}
.list_color{
    font-style: italic;
    color: #80b7b3;
}
.list_bold{
    color: #273d46;
    font-weight: 700;
}
.list_off{
    color: #696969;
    text-decoration: line-through;
}
.list li:last-child{
    margin-bottom: 0px;
}

.button{
    margin-left: 45px;
    padding: 12px 72px 15px 18px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background: #80b7b3 url(../img/icons/Shape\ 2.png) no-repeat;
    background-position: 80% 50%;
    background-size: 10%;
    border-radius: 100px;
    overflow: visible;
    box-shadow: 0px 6px 40px #80b7b3;
}
